:root{
    --COLOR-BORDER: rgb(225, 225, 225);
    --COLOR-BACKGROUND: rgb(20, 20, 20);
    --COLOR-MIDDLE: rgb(30, 30, 30);
    --COLOR-TEXT-PRIMARY: rgb(255, 255, 255);
    --COLOR-TEXT-SECONDARY: rgb(220, 220, 220);
    --COLOR-HOVER: rgba(220, 220, 220, 0.2);
    --COLOR-BUTTON-BASE: rgba(220, 220, 220, 0.5);

    --BORDER-THICKNESS: 0.5px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.2s;

    font-family: "Monaco", sans-serif;
}

body {
    background: var(--COLOR-BACKGROUND);
    color: var(--COLOR-TEXT-PRIMARY);
    width: 100vw;
    height: 100vh;
}

.column {
    float: left;
    width: calc((100vw - 40em) * 0.5);
}

/* .column.left {
    background: red;
} */

.column.center {
    background: var(--COLOR-MIDDLE);
    border-right: var(--BORDER-THICKNESS) solid var(--COLOR-BORDER);
    border-left: var(--BORDER-THICKNESS) solid var(--COLOR-BORDER);
    width: 40em;
    /* background: green; */
}

/* .column.right {
    background: blue;
} */

/******************************************  MIDDLE COLUM ******************************************/
/* HEADER */
.top {
    height: 6em;
    border-bottom: var(--BORDER-THICKNESS) solid var(--COLOR-BORDER);
    position: sticky;
    top: 0;
    background-color: rgba(20, 20, 20, 0.8);
    backdrop-filter: blur(.5em);
}

.topRow {
    display: flex;
    height: 50%;
    justify-content: center;
}

.return, .more, .searchBar {
    width: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.searchBar {
    width: 80%;
}

.bottomRow {
    display: flex;
    height: 50%;
    width: 100%;
}

.button {
    background: var(--COLOR-BUTTON-BASE);
    height: 2em;
    width: 2em;
}

.button:hover {
    background-color: var(--COLOR-TEXT-PRIMARY);
}

.category {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.category.new::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 4em;
    height: .5em;
    background-color: aqua;
    border-radius: .25em .25em 0 0;
}

.category:hover {
    background-color: var(--COLOR-HOVER);
}

/* POST */
.posts {
    width: 100%;
    display: block;
}

.post {
    width: 100%;
    height: 30em;
    display: flex;
    border-bottom: var(--BORDER-THICKNESS) solid var(--COLOR-BORDER);
}

.post:hover {
    background-color: var(--COLOR-HOVER);
}

.profilePicture {
    float: left;
    width: 10%;
    height: 100%;
    display: block;
}

.picture {
    width: calc(100% - 10px);
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin: 5px;
    background-color: aqua;
}

.content {
    float: right;
    width: 90%;
    height: 30em;
    display: block;
}

.header {
    float: left;
    height: 2em;
    width: 100%;
    display: block;
}

.profileName, .profileTag, .postDate {
    float: left;
    margin-top: 8px;
    margin-right: 8px;
}

.profileName {
    margin-left: 8px;
}

.profileTag, .postDate {
    color: var(--COLOR-TEXT-SECONDARY);
}

.postMore {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}

.main {
    float: left;
    height: calc(100% - 4em);
    width: 100%;
}

.footer {
    margin-left: 8px;
    float: left;
    height: 2em;
    width: 100%;
    display: flex;
}

.buttonPost {
    width: 20%;
    height: 100%;
    padding-left: 8px;
    align-items: center;
    display: flex;
}

.buttonPost:hover {
    background-color: var(--COLOR-HOVER);
}